.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

img {
    width: 50%;
}

span {
    margin-top: 10px;
}

#data-container {
    display: flex;
    flex-wrap: wrap;
}