.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-img {
  width: 5%;
}

form {
  display: flex;
  flex-direction: column;
}

.btn-login {
  background-color: #1DA1F2;
  border: none;
  padding: 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  width: 100%;
}

input {
  border-radius: 8px;
  border: 2px solid #1DA1F2;
  height: 15%;
  width: 100%;
  margin-bottom: 10px;
  height: 55px;
  background-color: white;
  margin-top: 10px;
  color: black;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-logout,
.btn-send-tweet {
  color: white;
  background-color: #1DA1F2;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.input-tweet {
  width: 50%;
}

.btn-send-tweet {
  width: 10%;
  margin-top: 5px;
}

.container-tweets {
  margin-top: 50px;
}

.tweet {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.text-tweet {
  margin-right: 10px;
}

.btn-likes {
  height: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}